.vscode/
cpptools*.core

RegisterCenter/cmake

Bin/RegisterCenter
Bin/pids.txt
Bin/*.core
Bin/*.out
Bin/report_log
Bin/pids.txt

Release/RegisterCenter
Release/*.core
Release/*.out
Release/*.pyc
Release/report_log
Release/pids.txt

register_center_*

LogRegisterCenter
